<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Media Monitor</title>
    <link rel="stylesheet" href="main.css">
<title>ABOUT</title>
  </head>

  <body class="light-theme"></body>
  <body style="text-align:center;">
          <nav>
            <ul>
              <li><a href="index1.html">Home</a></li>
              <li><a href="model.html">Model</a></li>
              <li><a class='active' href="about.html">About Us</a></li>
            </ul>
          </nav>
        </div>
    <p style="font-size:300%; color:rgb(101, 64, 27);">Meet The Creators!</p>
    <p style="font-size:250%; font-family:' '; color:rgb(45, 27, 99);">1. Shrayandendra Nath Mandal [CSE2020/092]</p>
    <p style="font-size:250%; font-family:' '; color:rgb(45, 27, 99);">2. Adrita Chakrabarti[IT2022/B09]</p>
  </body>
</html>